ion-item.item-input {
    color: #008000;
}

.resValue{
    font-size:70px;
    text-align: center;
    font-weight: normal;
}

.fundao{
    margin-top: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+37,f1da36+58 */
    // --background: #ffff88; /* Old browsers */
    --background: linear-gradient(197deg, #ffffef 0%, #ffff80 13.5%, #ffff60 33.33%, #008000 100%);
}

